.comments-block__comment {
    border: 1px solid lightgray;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    font-size: 20px;
    padding: 15px;
    border-radius: 3px;
    margin: 5px 2rem;
}
.comments-block__comment:first-child {
    margin-top: 30px;
}
.comments-block__comment p {
    margin: 0;
}

.comments-block__comment .comments-block__user {
    font-size: .7em;
    color: gray;
}
.comments-block__count {
    line-height: 30px;
    margin-left: 6px;
}

.comments-block__bottom {
    border-top: 1px solid silver;
    display: flex;
    line-height: 30px;
    margin-top: 10px;
}

.comments-block__button {
    border: 0;
    background: none;

}